@model WasySender_2_0.DataModel.GetLists
@{
    ViewBag.Title = "Mittenti";
}

<div class="col-lg-12">
    <div class="content-breadcrumb"><a href="/Home/Dashboard/">DASHBOARD</a> / UTENTI</div>
</div>

<div class="default-page">
    <div class="col-lg-12">
        <section>
            <div class="row">
                <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 text-center">
                    <div class="row">
                        <div class="col-lg-12">
                            <h1>DESTINATARI @Model.name.ToUpper()</h1>
                            <article>
                                In quest’area puoi aggiungere e modificare l'elenco dei destinatari di questa lista.
                            </article>
                        </div>
                        <div class="col-lg-4 col-md-4 col-lg-offset-4 col-md-offset-4">
                            <a class="generic-btn" href="/User/AddDestinatario/@Model.id">AGGIUNGI DESTINATARIO</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="content-table-responsive">
                        <div class="mittenti-grid">
                            <ul>
                                <li class="top-grid" style="width:340px; text-align:left;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;NOMINATIVO</li>
                                <li class="top-grid" style="width:430px; text-align:left;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;INDIRIZZO</li>
                                <li class="top-grid">CAP</li>
                                <li class="top-grid" style="width:250px">CITT&Agrave;</li>
                                <li class="top-grid" style="width:100px">PROVINCIA</li>
                                <li class="top-grid">STATO</li>
                                <li class="top-grid" style="width:50px">MOD.</li>
                                <li class="top-grid" style="width:55px">ELI.</li>
                            </ul>
                            @foreach (var m in Model.recipients)
                            {
                                <ul>
                                    <li style="width:340px; text-align:left;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@m.businessName @m.name @m.surname</li>
                                    <li style="width:430px; text-align:left;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@m.dug @m.address @m.houseNumber</li>
                                    <li>@m.cap</li>
                                    <li style="width:250px">@m.city</li>
                                    <li style="width:100px">@m.province</li>
                                    <li>@m.state</li>
                                    <li style="width:50px"><a href="/User/ModDestinatario/@Model.id/@m.id"><img src="~/Images/IcnModificaRitiro.png" /></a></li>
                                    <li style="width:50px"><a href="#" id="del-@m.id" class="btn-delete"><img src="~/Images/IcnDelete.png" /></a></li>
                                </ul>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<script>
    $('.btn-delete').on("click", function () {
        var btnId = $(this).attr("id");
        var id = btnId.split("-")[1];
        var div = $('.mittenti-grid');
        if (confirm("Sei sicuro di voler eliminare il destinatario?")) {
            $.get("/User/DeleteNames/" + id)
                .done(function () {
                    var p = $("#" + btnId).parents("ul");
                    p.slideUp(400);
                });
        };
    });

</script>

